.container {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #8b9ea2;
  cursor: pointer;
  display: block;
  max-width: 30rem;
  padding: 0.5rem;
  text-align: left;
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
  width: 100%;
}

.container:hover {
  background-color: #396ba0;
  color: #fff;
}

.heading {
  font-size: 1.15rem;
  margin: 0;
  padding: 0.25rem 0;
}

.body {
  flex: 1;
}
